# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Environments
.env
.venv/
env/
venv/

# Django
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# macOS/Linux
.DS_Store

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/
